@tailwind base;
@tailwind components;
@tailwind utilities;

/*  IMPORT ALL FONTS */

/* D-Din font */
@font-face {
    font-family: Din;
    src: url("./assets/fonts/D-DIN-Bold.otf");
}

/* karla font */
@font-face {
    font-family: Karla;
    src: url("./assets/fonts/Karla-Regular.ttf");
}

/* ROOT STYLES */
:root {
    /* colors */
    --primary: black;
    --secondary: ;
}


body {
    font-family: Karla, sans-serif;
}

.hero-text {
    font-family: Din, sans-serif;
}


